<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>merch</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <img src="/images/gallo.jpg" alt="logo" width="60">
        
        <div class="menu">
            X
        </div>
    </header>
    <main>
        <!-- <section>
            <img src="/images/D_NQ_NP_800757-MLA42805867459_072020-O.jpg" alt="">
        </section> -->
    </main>
</body>
</html>